@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <h1 class="display-4">小熊商城</h1>
    <p>本项目分pc和android</p>
    <p>android app使用react native typescript react-navigation mobx code-push等技术构建</p>
    <p>pc端暂使用.net core mvc jquery实现。TODO:基于react技术构建 实现pc和android技术统一</p>
    <p>service使用.net core webapi给pc和android提供服务。使用.net core k8s docker rabbitmq redis mysql linux zookeeper等技术构建 </p>
</div>
